# Core data handling
pandas
numpy

# File formats
openpyxl

# Visualization (EDA & reporting)
matplotlib
seaborn

# Time & utilities
python-dateutil

# Jupyter environment
jupyter
ipykernel

# Validation & helpers
pyyaml
tqdm
pymc
arviz
statsmodels